<% set_meta_tags :description => "Münster FAQ ist ein neuer, experimenteller Ansatz, um es dir einfacher zu machen Stadtinformationen und -services zu finden." %>
<div class="page-container about-page">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
    >
    <%= title "About" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="span9 main">
        <div class="main-content">
          <p>Münster FAQ ist ein neuer, experimenteller Ansatz, um es dir einfacher zu machen Stadtinformationen und -services zu finden.</p>
          <div class="title-spacing">
            <h1>Was es ist</h1>
            <p>Münster FAQ ist eine auf Bürger fokussierte und fragengetriebene Webseite mit einem klaren und einfachen Design. Du kannst eine Frage stellen oder Schlüsselwörter in natürlicher Sprache eingeben. Du bekommst einfache, freundliche, präzise und einfach zu verstehende Antworten, als ob sie von einem Nachbar kommen würden.</p>
            <p>Schau dir dieses <a href="https://vimeo.com/43632898#" target="_blank" class="highlight">kurze Video</a> um mehr über Münster FAQ herauszufinden.</p>
          </div>
          <div class="title-spacing">
            <h1>Das Design</h1>
            <p>Viele Leute beginnen ihre Reise ins Internet mit einer Suche. Darauf ist diese Seite ausgelegt. Gleichzeitig sind die am meisten gestellten Fragen besonders hervorgehoben, damit die meisten Leute einfach auf das Thema, an dem sie interessiert sind, klicken können. Der Inhalt ist so organisiert, wie Bürger ihn verstehen. Wichtig ist dabei der intuitive Weg, wie du über ein Problem nachdenken würdest und nicht die Art, wie die Stadt intern organisiert ist.</p>
            <p>Der Inhalt auf dieser Seite ist in drei Arten aufgeteilt:
            <ul class="about-list"><li>Schnelle Antworten beinhalten Schlüsselinformationen, die der Großteil der Bürger wissen muss, um ihre Fragen zu beantworten.</li>
              <li>Anleitungen bieten detailliertere Schritt-für-Schritt-Informationen für komplexere Antworten.</li>
              <li>Webservices ermöglichen es, online Geschäfte auszuführen, um dir deine Fragen zu beantworten</li></ul></p> 
            <p>Zusammenfassend möchte Münster FAQ benutzerfreundlich sein, um das Leben der Bürger einfacher zu machen. Es stellt die Informationen Webseite der Stadt Münster übersichtlich dar und löst Fragen und Probleme, die Bürger oft haben. Die Münster FAQ ist die erste ihrer Art in Deutschland. Inspiriert worden sind wir durch <a href="http://gov.ukhttp://answers.honolulu.gov/" target="_blank">Honolulu Answers</a>, die ähnliches für Honolulu City adressieren.</p>
          </div>

          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>Unser Team</h1>
            <p>Münster FAQ wurde erstellt von <a href="codefor.de" target="_blank">Code for Germany</a> Fellows in partnership with the City and County of Honolulu:<br />
            <a class="mugshot" href="http://twitter.com/snajmi" target="_blank"><div class="shoutout"><%= image_tag "sheba.jpg", :class => "biopic" %><em>Sheba Najmi</em></div></a>
            <a class="mugshot" href="http://twitter.com/ezoehunt" target="_blank"><div class="shoutout"><%= image_tag "liz.jpg", :class => "biopic" %><em>Elizabeth Hunt</em></div></a>
            <a class="mugshot" href="http://twitter.com/philip_hale" target="_blank"><div class="shoutout"><%= image_tag "phil.jpg", :class => "biopic" %><em>Philip Hale</em></div></a>
            <a class="mugshot" href="http://twitter.com/joeycdy" target="_blank"><div class="shoutout"><%= image_tag "joey.jpeg", :class => "biopic" %><em>Joey Cody</em></div></a>
            <a class="mugshot" href="http://twitter.com/maromba" target="_blank"><div class="shoutout"><%= image_tag "amir.jpeg", :class => "biopic" %><em>Amir Reavis-Bey</em></div></a>
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>Unter Mithilfe unserer Freunde...</h1>
            <p>
            <a class="mugshot" href="http://twitter.com/forestf" target="_blank"><div class="shoutout"><%= image_tag "forest.jpeg", :class => "biopic" %><em>Forest Frizzell</em></div></a> 
            <a class="mugshot" href="http://twitter.com/angelk" target="_blank"><div class="shoutout"><%= image_tag "angel.jpeg", :class => "biopic" %><em>Angel Kittiyachavalit</em></div></a>
            <a class="mugshot" href="http://twitter.com/robdotd" target="_blank"><div class="shoutout"><%= image_tag "rob.jpg", :class => "biopic" %><em>Rob Davis</em></div></a> 
            <a class="mugshot" href="http://twitter.com/dthompson" target="_blank"><div class="shoutout"><%= image_tag "mick.jpeg", :class => "biopic" %><em>Mick Thompson</em></div></a> 
            <a class="mugshot" href="http://twitter.com/dianavtran" target="_blank"><div class="shoutout"><%= image_tag "diana.jpeg", :class => "biopic" %><em>Diana Tran</em></div></a>
            <a  class="mugshot"href="http://twitter.com/cydharrell" target="_blank"><div class="shoutout"><%= image_tag "cyd.jpeg", :class => "biopic" %><em>Cyd Harrell</em></div></a> 
            <a class="mugshot" href="http://twitter.com/mapmeld" target="_blank"><div class="shoutout"><%= image_tag "nick.jpeg", :class => "biopic" %><em>Nick Doiron</em></div></a> 
            <a class="mugshot" href="http://gov.uk/" target="_blank"><div class="shoutout"><%= image_tag "govuk.png", :class => "biopic" %><em>Gov.uk</em></div></a>
            <a class="mugshot" href="http://www.honolulu.gov" target="_blank"><div class="shoutout"><%= image_tag "hnl_gov.png", :class => "biopic" %><em>City &amp; County of Honolulu</em></div></a> 
            <a class="mugshot" href="http://codeforamerica.org/" target="_blank"><div class="shoutout"><%= image_tag "cfa.png", :class => "biopic" %><em>Code for America</em></div></a>
            <a class="mugshot" href="http://brigade.codeforamerica.org/" target="_blank"><div class="shoutout"><%= image_tag "brigade.png", :class => "biopic" %><em>CfA Honolulu Brigade</em></div></a>          
            </p>
          </div>
          <br />
          <!--        <div class="about-list"><p>Thanks to <a href="http://royalrealtyllc.com/">Royal Realty</a> for the background photo.</p></div>  
          -->
          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>Wir freuen uns, von dir zu hören</h1>
            <p>Schick uns deine Ideen und Feedback per E-Mail oder Twitter
            <ul>
              <li>Du möchtest diese Seite für deine Stadt haben?&nbsp;
              <span class="comment">Schreib eine Mail an <a href="mailto:staff@codeforamerica.org">staff@codeforamerica.org</a>.</span></li>
              <li>Bist du Entwickler?&nbsp;
              <span class="comment">Mach einen Fork auf <a href="https://github.com/honolulu/honolulu_answers" target="_blank">GitHub</a>.</span></li>
              <li>Möchtest du Antworten für deine Stadt verfassen??&nbsp;
              <span class="comment">Lies unseren <a href="https://docs.google.com/a/codeforamerica.org/file/d/0B9kmre1G2wdIQmhJVFdZYzRkQXc/edit" target="_blank">Inhalts-Styleguide</a>.</span></li>
              <li>Binde deine Community in das Schreiben von Antworten ein:&nbsp;
              <span class="comment"><a href="http://neighborhow.org/guides/host-a-writeathon-in-your-city" target="_blank">Veranstalte einen Write-a-Thon</a>.</span></li>
              <li>Folge uns auf Twitter:&nbsp;
              <span class="comment"><a href="https://twitter.com/HonoluluAnswers" target="_blank">@codeformuenster</a>.</span></li>
            </ul>
            </p>
          </div>
        </div>  
      </div>  
    </div>
  </div>
</div>
